<div class="overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
    <%= form_with(url: capacities_show_path, method: :get) do |form| %>
      <div class="flex space-x-3 items-center">
        <%= form.label :start_date, "From", class: "block text-sm text-gray-700 dark:text-gray-200 align-baseline" %>
        <%= form.date_field :start_date, value: params[:start_date] || Date.current, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        <%= form.label :end_date, "To", class: "block text-sm text-gray-700 dark:text-gray-200 align-baseline" %>
        <%= form.date_field :end_date, value: params[:end_date] || Date.current.end_of_year, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        <%= form.label :end_date, "Committments", class: "block text-sm text-gray-700 dark:text-gray-200 align-baseline" %>
        <%= form.number_field :commitments, value: params[:commitments] || 0, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        <%= form.submit 'Calculate', class: "px-4 py-3 text-sm font-medium bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
      </div>
    <% end %>
  </div>
  <%= bar_chart get_employee_series(["Engineering Days", "Remaining holidays", "Capacities"], @dynamic_employees_engineering_days), stacked: true %>
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white font-bold border-b-2 border-blue-500 text-center">
          Name
        </th>
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white font-bold border-b-2 border-green-500 text-center">
          Engineering Days
        </th>
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white font-bold border-b-2 border-green-500 text-center">
          Remaining holidays
        </th>
        <th scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white font-bold border-b-2 border-green-500 text-center">
          Capacities
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
      <% @dynamic_employees_engineering_days.each do |employee_engineering_days| %>
        <tr class="dark:hover:bg-gray-600">
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white text-center">
            <%= employee_engineering_days[0].to_s.titleize %>
          </td>
          <% employee_engineering_days.drop(1).each do |days| %>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200 text-center">
              <%= days %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>