<!DOCTYPE html>
<html class="dark">
  <head>
    <title>EmCapacityApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-neutral-100 dark:bg-neutral-900">
    <header class="bg-white dark:bg-slate-800 text-slate-500 dark:text-slate-400 p-4 flex items-center justify-around">
      <h1 class="text-slate-900 dark:text-white font-bold text-4xl">DarkMode</h1>

      <nav class="space-x-1">
        <a href="#">Home</a>
        <a href="#">Contact</a>
        <a href="#">Details</a>
      </nav>
    </header>
    <main class="container mx-auto py-8">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
